# Backend — jamais commiter
backend.hcl

# Variables réelles — jamais commiter
terraform.tfvars

# Fichiers Terraform générés
*.tfstate
*.terraform.tfstate.backup
*.tfstate.*          
.terraform/
crash.log
*.tfplan
tfplan.*

