# Backend — jamais commiter
backend.hcl

# Variables réelles — jamais commiter
terraform.tfvars

# Fichiers Terraform générés
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
*.tfplan
