# Copier en terraform.tfvars et remplir
# Ne JAMAIS commiter terraform.tfvars

location             = "swedencentral"
resource_group_name  = "rg-tfstate-pfe"
storage_account_name = "<nom-unique-global>"
container_name       = "tfstate"
