# Copier en terraform.tfvars — Ne JAMAIS commiter terraform.tfvars

project_id    = "pfe-***-***"
region        = "europe-west1"
cluster_name  = "gke-staging-pfe"

gitops_repo_url        = "https://github.com/ton-user/repo-config"
gitops_target_revision = "main"
gitops_path            = "apps/"